@CHARSET "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: #131415;
}

header li a:hover {
    color: #42FE10;
}

header li.hier a {
    color: #568F46;
    color: white;
}

table a {
    color: #C1D8FF;
}

table a:hover {
    color: #42FE10;
}

header h1 {
    color: whitesmoke;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.item {
    max-width: 100%;
    width: auto;
    margin: 0;
}

#filter{
    width: 9rem;
    padding: 3px;
}

.maintitle {
    background-color: #131415;
    margin: 0;
    color: whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main p {
    color: #919191;
}

.grid,
.grid1 {
    background-color: #131415;
}

main section {
    border: whitesmoke 2px;
    border-style: solid;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    background-color: #313131;
    margin-left: 5%;
    margin-right: 5%;
}

.introtext{
    margin-left: 5%;
    margin-right: 5%;
}

.alert-danger {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #b94a48;
    color: #b94a48;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.alert-danger ul {
    list-style-type: none;
}

.has-error {
    color: #b94a48;
    border-color: #b94a48;
    box-shadow: inset 0px 1px 4px #d59392;
}

form {
    margin: 30px 0;
}

.matchtitle{
    color: whitesmoke;
    margin-left: 10%;
    font-size: 30px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}

#zoekp{
    font-size: 18px;
    text-align: center;
}
#zoek{
    color: #C1D8FF;
}
#zoek:hover {
    color: #42FE10;
}


label,
input,
textarea {
    margin-bottom: 16px;
}

input,
textarea {
    border: 1px solid #888;
    margin: 2px 0 16px 0;
    outline: 0 none;
    padding: 0.5em;
    line-height: 15px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    box-sizing: border-box;
}

label,
input,
textarea {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
}

input {
    height: 25px;
}

table {
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
}

.TOtitle {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: whitesmoke;
}

#monthlyoverview{
    margin-top: 1rem;
}

tr:nth-child(even) {
    background-color: #131415;
}

td,
th {
    text-align: left;
    padding: 6px;
}

thead {
    border-bottom: solid whitesmoke 3px;
}

tr {
    text-decoration: none;
}

footer {
    background-color: #1c1c1c;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

footer p {
    color: #919191;
    text-align: center;
    text-decoration: underline;
}


/*mobile*/

nav {
    margin-left: auto;
    margin-right: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

header li a {
    display: block;
    text-decoration: none;
    color: #888888;
    padding: 0.9rem 2rem;
    font-weight: bold;
    font-size: 100%;
}

main {
    background-color: #1c1c1c;
}

.maintitle {
    padding-left: 15%;
}

input[type="submit"] {
    background-color: #1c1c1c;
    width: 7.5rem;
    padding: 3px;
    color: whitesmoke;
    margin-top: 10px;
    font-weight: bolder;
}

input[type="submit"]:hover {
    background-color: #42FE10;
    cursor: pointer;
    color: black;
}

.left, .right{
    display: inline-block;
    margin-top: 1rem;
}
.left{
    margin-left: 5%;
}
.right{
    margin-left: 1rem;
}

/*desktop*/


@media screen and (min-width: 650px) {
    nav {
        display: grid;
        grid-template-columns: 2fr 1.2fr 2fr;
        grid-column: 2;
        margin-left: auto;
        margin-right: auto;
    }

    header li a {
        padding: 0px 10px;
    }

    header ul {
        grid-column: 2;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .gridfield,
    .overviewgrid {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }

    .userwelcome {
        padding-left: 3rem;
        font-size: 2rem;

    }

    .gridfield {
        grid-template-rows: 1fr 5fr;
        grid-column: 2;
        background-color: #1c1c1c;
    }

    .maintitle,
    section {
        grid-column: 2;
        margin-left: 0%;
    }

    #notloggedpanel{
        max-width: 65% ;
        text-align: center;
        margin-left: 18%;
    }

    .maintitle {
        padding-left: 0%;
        top: 50%;
    }

    main section {
        padding: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 0%;
        margin-right: 0%;
    }

    label,
    input,
    textarea {
        display: inline-block;
    }

    label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        width: 400px;
    }

    input[type="submit"] {
        margin-left: 112px;
        background-color: #1c1c1c;
        width: 7.5rem;
        padding: 3px;
        color: whitesmoke;
        margin-top: 10px;
        font-weight: bolder;
    }

    input[type="submit"]:hover {
        background-color: #42FE10;
        cursor: pointer;
        color: black;
    }

    .left, .right {
        display: inline-block;
    }

    #cancel {
        margin-left: 0;
    }

    #delete {
        margin-left: 0;
    }

    textarea {
        vertical-align: middle;
    }

    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-column: 2;
        padding-bottom: 3rem;
        padding-top: 4rem;
    }

    footer p {
        grid-column: 2;
        text-align: center;
        border-bottom: #919191 solid 1px;
        text-decoration: none;
    }
}
